<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="~/css/index.css" rel="stylesheet" />
<body>
    <header>
<div>
<ul class="nav justify-content-end ">
   <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="#" style=" padding-right:20px;">Gmail</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" href="#" style=" padding-right:30px;">Photo</a>
    </li>
        <li class="nav-item" >
            <a href="#"><img src="~/newfolder/show-apps-button.png" height="20" width="50" style="margin-top:5px ; padding-right:30px;" /> </a>
            
    </li>
    <li class="nav-item">
            <button type="submit" class="btn btn-primary " style="margin-top:3px; padding-right:90px;border:1px solid;width:95px; ">Sign In</button>
        </li>
</ul>
    </div>
    </header>
    <div style="display: flex;align-items: center;justify-content: center; margin-top:30px; margin-bottom:30px;">
        <img src="~/newfolder/googlelogo_color_272x92dp.png" height="92" width="272"  />
    </div>
    <div class="first-box">
        <div class="search-bar"><a href="#"><img src="~/newfolder/images.png" /></a></div>
          <textarea class="text-area"></textarea>
        <div class="Keyboard"><a href="#"><img src="~/newfolder/keyboard.png" /></a></div>
        <div class="mike"><a href="#"><img src="~/newfolder/mike.png" /></a></div>
        <div class="scanner"><a href="#"><img src="~/newfolder/google_lens_icon.svg.png" /></a></div>
        
    </div>
    <div class="bottom-my">
        <button type="submit" class="btn btn-secondary " style="margin-right:6px;">Google Search</button>
        <button type="submit" class="btn btn-secondary " >I'm Feeling Lucky</button>
    </div>
    <div class="language">
        <p style="color:dimgrey">Google offered in:<a href="#"> Other Languages</a></p>
    </div>
    
    
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="true" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Settings</a>
                </li>

            </ul>
        </div>
    </div>
</body>